.header {
  min-height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 760px)  {
  .header {
    min-height: 56px;
    margin-top: 28px;
  }
}