.popup__submit {
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  margin-top: 18px;
  padding: 0;
}

.popup__submit:hover {
  opacity: .8;
}

@media screen and (max-width: 620px)  {
  .popup__submit {
    height: 46px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
  }
}