.profile__addButton {
  width: 150px;
  height: 50px;
  background: url(../../../images/add.png) center no-repeat;
  background-color: #000;
  outline: none;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
}