.picture__close {
  width: 48px;
  height: 48px;
  background-image: url(../../../images/close_ico.svg);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
}

.picture__close:hover {
  opacity: .6;
}

@media screen and (max-width: 620px)  {
  .picture__close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close_ico_sm.svg);
    top: -5px;
    right: 46px;
  }
}